DB_HOST=yourhosthere
DB_USER=youruserhere
DB_PASSWORD=yourpasswordhere
DB_NAME=yourdbnamehere
DB_DIALECT=yourdialecthere
DB_PORT=yourdbporthere
DB_SSL=yourslshere
JWT_SECRET=yoursecretword
AEMET_API_KEY=your_aemet_api_key_here