# Database Configuration
DB_HOST=your_db_host  # Hostname or IP of the database server
DB_USER=your_db_username  # Username for database authentication
DB_PASSWORD=your_db_password  # Password for database authentication
DB_NAME=your_db_name  # Name of the database to connect to
DB_DIALECT=mysql  # Database dialect (e.g., mysql, postgres)
DB_PORT=3306  # Port number for database connection
DB_SSL=REQUIRED  # SSL mode for database connection (e.g., REQUIRED, DISABLED)

# Authentication
JWT_SECRET=your_jwt_secret  # Secret key for JWT token signing

# Frontend URL
FRONTEND_URL=http://localhost:5173  # URL of the frontend application
NODE_ENV= #production or development

# LDAP Configuration
LDAP_ADMIN_DN=cn=admin,dc=example,dc=com  # Distinguished Name for LDAP admin
LDAP_ADMIN_PASSWORD=your_ldap_admin_password  # Password for LDAP admin

# Email Service
RESEND_API_KEY=your_resend_api_key  # API key for Resend email service

#Vapid
VAPID_PUBLIC_KEY=your_public_key
VAPID_PRIVATE_KEY=your_private_key
VAPID_SUBJECT=your_subject