@import url('leaflet/dist/leaflet.css');

/* Force override here as well to be safe */
.leaflet-popup.custom-popup-clean .leaflet-popup-content-wrapper {
    background: transparent !important;
    box-shadow: none !important;
}
.leaflet-popup.custom-popup-clean .leaflet-popup-tip {
    display: none !important;
}
.leaflet-popup.custom-popup-clean .leaflet-popup-close-button {
    display: none !important;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 0;
}
