@import url("leaflet/dist/leaflet.css");

.leaflet-container {
  height: 80vh;
  width: 100%;

  @media (min-width: 1024px) {
    width: 100% !important;
    max-width: 1200px !important;
    height: 500px !important;
    border-radius: 20px !important;
  }
}
